  body{
        background-color: aquamarine;     
      }

      .theme1 {
        color: rgb(255, 166, 0);
        background-color: rgb(44, 44, 44);
        padding: 4px 12px;
        font-family: monospace;
      }

      html,
      body {
        margin: 0;
        padding: 0;
      }

      header {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-around;
        cursor: move;
        transition-duration: 500ms;
      } 
       
      header:hover {
        background-color: transparent;
      } 
      
      main {
        flex: 1;
        cursor: crosshair;
      }

       .head {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
       }

      .heading1 {
        background-color: blueviolet;
        text-align:center;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

      .stars {
       
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
      }

     .heading2 {
       
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 12;
        margin: 20px  
        
      }


      .paragraph2 {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center; 
      }

      

      .emoji {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
        
      

      .second last paragraph {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        padding: 10px;
      }

      .last paragraph {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

      footer {
        position: sticky;
        bottom: 0;
        cursor: move;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        
        
      }

      footer:hover {
        background-color:aquamarine;
      }

      main {
        flex: 1;
        cursor: crosshair;
      }

  

  
