html,
body{
  margin: 0;
  padding: 0;
}

body{
  background-color: aquamarine;
}

header{
  display: flex;
  justify-content: space-between;

  position: sticky;
  top: 0;

  cursor: move;
}
header:hover {
  background-color: aquamarine;
}
.theme1 {
   background-color: rgb(44, 44, 44);

   padding: 4px 12px;
   color: rgb(255, 166,0);
}

.img{
  height: 250px;
  width: 250px;

  border-radius: 50%;
}
p {
  padding-left: 40px;
  padding-right: 40px;
}
.imageDiv{
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.item{
  background-color: #ff00ff;

  padding: 40px;
  margin: 10px;

  text-decoration: none;
  border-radius: 25px;

  font-size: 20px;
}

.githubLink{
  padding-left: 5px;
}

.theme1{
 
  
  
}
footer{
  position: sticky;
  bottom: 0;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
}