body{
  background-color: aquamarine;
}

.img{
  height: 250px;
  width: 250px;

  border-radius: 50%;
}
p {
  padding-left: 40px;
  padding-right: 40px;
}
.imageDiv{
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.item{
  background-color: #ff00ff;

  padding: 40px;
  margin: 10px;

  text-decoration: none;
  border-radius: 25px;

  font-size: 20px;
}

.githubLink{
  padding-left: 5px;
}

.footerEmojis{
  display: flex;
  align-items: center;
  justify-content: center;
}