body{
  background-color:aquamarine;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.theme1 {
  color: rgb(252, 166, 0);
  background-color: rgb(44, 44, 44);
  padding: 1px 576px;
  font-family: monospace;

}

html,
body {
  margin: 0;
  padding: 0;
} 

header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  cursor: move;
  transition-duration: 500ms;
}

header:hover {
  background-color: transparent;
}

main {
  flex: 1;
  cursor: crosshair;
}



section {
  background-color: rgb(100, 148, 132);

  width: 300px;
  height: 300px;

  display: flex;
  
}

.paragraph {
  display: flex;
  flex-direction: row;
}

.paragraph1 {
  background-color: antiquewhite;
  width: 310px;
  height: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div {
  background-color: rgb(218, 32, 32);
  
  width: 50px;
  height: 50px;
}

.a {
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.b {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.c {
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}



.d {
  flex-direction: column;
  align-items:start ;
  justify-content: space-between;
}

.e {
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
}

.f {
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}

.g{
  flex-direction: row;
  align-items:center;
  justify-content: center;
}

.hSection{
  flex-direction:row;
  align-items: end;
  justify-content: end;
}

.hDiv{
  flex: 1;
}
 
.i{
  flex-direction: column;
  
  justify-content: space-between;
}

.iFirst{
  align-self: start;
}
.iEnd{
  align-self: end;
}

.button{
  

  font-size: 30px;

  padding: 5px 10px;
}
a {
  text-decoration: none;
}

pre{
  background-color: rgb(255, 0, 255);
  padding-top: 25px;
  padding-right: 35px;
}

.theme1 {
  color: rgb(252, 166, 0);
  background-color: rgb(44, 44, 44);
  padding: 3px 700px;
  font-family: monospace;

  
}

html,
body {
  margin: 0;
  padding: 0;
}

footer {
  position:sticky;
  bottom: 0; 
  
  cursor: move;

  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-around;
}

footer:hover {
  background-color: transparent;
}

main {
  flex: 2;
  cursor: crosshair;
}



